<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    
<script src="/js/fuction.js"></script>
  
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .alert-fixed { position: fixed; top: 200px; left: 50%; transform:
      translateX(-50%); z-index: 9999; width: 50%; max-width: 600px; }
    

    </style>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    >
   </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>


  </head>
  <body style="background-color:{{BodyBGColor}}">
    <!-- Display success message -->
   
     <div id="alertContainer" class="alertContainer"></div>
    </div>
 {{> header}}

  <div class="body">
    {{{body}}}
  </div>

  {{> footer}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
    ></script>
    <!-- Font Awesome JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"
    ></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => 
      { 
        const urlParams =new URLSearchParams(window.location.search); 
        const success = urlParams.get('success'); 
        const error = urlParams.get('error'); 
        if(success) {
          showAlert( decodeURIComponent(success),'successful');}
       if (error) {
        showAlert( decodeURIComponent(error),'error'); } });

    </script>
  </body>
</html>