<div class="container-fluid" style="margin-top: 200px;">

  <div class="text-center">

    <button
      class="btn btn-primary mr-2"
      onclick="location.replace('/admin')"
    >Admin Login</button>
    <button
      class="btn btn-secondary"
      onclick="location.replace('/result/PGresult')"
    >View Result</button>

  </div>
</div>